.Impact-panel {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
}

.Impact-panel-header {
  display: flex;
  padding-bottom: 25px;
}

.Impact-panel-header-icon {
  height: 40px;
}

.Impact-panel-header-label {
  margin-top: 5px;
  font-size: 28px;
  margin-left: 20px;
}

.Impact-panel-stats {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  font-weight: 700;
}

.Impact-panel-stats-value-container {
  display: flex;
}

.Impact-panel-stats-value {
  margin-left: 10px;
}
