.SparkCombo-graphs {
  display: flex;
  align-items: flex-end;
  width: 400px;
  margin-top: 10px;
}

.SparkCombo-graph-label {
  font-size: 16px;
  font-weight: 800;
}

.SparkCombo-Projection polyline {
  stroke-dasharray: 4;
}
